{% extends "base.html" %}
{%  load static %}

{% block head %}


{% endblock %}

{% block login %}
<link rel="stylesheet" href="{%  static 'css/style.css' %}">
<script src="/static/js/login.js"></script>
<div class="center-container">

  <div class="login-form-container tile">
    {% if form.errors %}
      <p class="error-msg">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <h1>Ordering Assistant</h1>
    <h2 class="center-container">Login</h2>

    {% if next %}
      <p>This is the small pet page.</p>
       <p> Use next credentials:</p>
       <p>admin: &emsp; <strong>Best_Ever_Visitor</strong></p>
       <p>pass:  &emsp; <strong>pass@123</strong></p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="login-form">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Login" class="btn btn-primary" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>

</div>
{% endblock %}
