body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

.btn {
  display: inline-block !important;
  padding: 8px 16px !important;
  border: 1px solid #007bff !important;
  border-radius: 4px !important;
  color: #fff !important;
  background-color: #007bff !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-outline-secondary {
  background-color: transparent !important;
  color: #007bff;
}

.form-inline {
  display: flex;
  align-items: center;
}

.link-to-page {
  margin-left: 10px;
}

/* Additional Effects */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none !important;
  border-radius: 4px !important;
  padding: 6px 10px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

ul li a {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

ul li a:hover {
  background-color: #ddd;
}