ul {
  list-style: none;
  padding: 0;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 0 0 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 200px;
}

.tile a {
  text-decoration: none;
  color: #333;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-outline-secondary {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;

}

.btn-outline-secondary:hover {
  background-color: #f0f0f0;
}

.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

}

.delete-btn {
  margin-top: 10px;
}
