{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <link rel="stylesheet" href="/static/css/list-tile.css">
  <h1>
    Pizzas list
    <a href="{% url 'order:pizza-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-outline-secondary" type="submit" value="🔎">
  </form>

  <div class="tiles-container">
    {% if pizza_list %}
      {% for pizza in pizza_list %}
        <div class="tile">
          <a href="{% url "order:pizza-detail" pk=pizza.id %}">
            <h3>{{ pizza.name }}</h3>
            <p>price: {{ pizza.price }}</p>
          </a>
          <a class="btn btn-outline-secondary" style="color: red;" href="{% url 'order:pizza-delete' pk=pizza.id %}">
            Delete
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>There are no pizza :(</p>
    {% endif %}
  </div>
{% endblock %}